* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --var-bg-all: url(./images/fon.jpg) no-repeat center fixed;
    --var-color-text-select:#003399;
    --var-bg-button: #804000;
    --var-bg-color: #ff9900;
    --var-bg-quiz: #ffebcc;

}

body {
    background: var(--var-bg-all);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.width {
    width: 100%;
}

a{
    text-decoration: none;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-top{
    margin-top: 1rem;
}

